# Setup

In [1]:
import pandas as pd
import numpy as np
import time

import warnings
warnings.filterwarnings('ignore')

In [2]:
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow.keras.layers import *
from sklearn.metrics import *
import pickle

In [3]:
gpus = tf.config.experimental.list_physical_devices('GPU')
if gpus:
    try:
        tf.config.experimental.set_memory_growth(gpus[0], True)
    except RuntimeError as e:
        print(e)

In [4]:
df = pd.read_csv(f'data/data_total.csv', index_col=0)

In [5]:
ycol = [
    df.columns[df.columns.str.contains('wait')],
    df.columns[df.columns.str.contains('timeloss')],
    df.columns[df.columns.str.contains('travel')],
    df.columns[df.columns.str.contains('speed')],
    df.columns[df.columns.str.contains('stop')],
]

In [6]:
y = [
    df[c].mean(1) for c in ycol
]

In [7]:
p = pd.read_csv('DNN_model/preprocessed_p.csv', index_col=0)
q = pd.read_csv('DNN_model/preprocessed_q.csv', index_col=0)
var = pd.read_csv('DNN_model/preprocessed_var.csv', index_col=0)

In [8]:
p.columns

Index(['1_2', '1_3', '1_4', '2_1', '2_3', '2_4', '3_1', '3_2', '3_4', '4_1',
       '4_2', '4_3', '1_v', '2_v', '3_v', '4_v'],
      dtype='object')

In [9]:
q.columns

Index(['1', '1l', '1r', '1s', '2', '2l', '2r', '2s', '3', '3l',
       ...
       '102', '103', '104', '105', '106', '107', '108', '109', '110', '111'],
      dtype='object', length=128)

In [10]:
var.columns

Index(['p1', 'p2', 'p3', 'p4', 'total_len'], dtype='object')

In [11]:
strat = df['id']

In [12]:
X = pd.concat([var, p, q], 1)
X_wo_q = pd.concat([var, p], 1)

In [13]:
y = np.stack(y, 1)

In [14]:
y[:,:3] /= 300
y[:, 3] = (y[:, 3]-3)/6
y[:, 4] /= 3

In [15]:
y1 = y[:,:1]

# Load models

In [33]:
def get_MMoE_model(num_experts=3, num_tasks=5, emb_dim=64):
    in_dim = X.shape[1]
    i_ = Input((X.shape[1], ))
    
    experts = []
    for _ in range(num_experts):
        exp = build_layer(in_dim, (256, 128), emb_dim)
        experts.append(exp(i_))
        
    expert_concat = tf.keras.layers.Lambda(lambda x: tf.stack(x, axis=1))(experts)
    
    mmoe_outs = []
    for _ in range(num_tasks):
        g_layer = build_layer(in_dim, (128, ), emb_dim)
        g_in = g_layer(i_)
        g_out = tf.keras.layers.Dense(num_experts, use_bias=False, activation='softmax')(g_in)
        g_out = tf.keras.layers.Lambda(lambda x: tf.expand_dims(x, axis=-1))(g_out)
        
        g_mul_out = tf.keras.layers.Lambda(lambda x: tf.reduce_sum(x[0] * x[1], axis=1, keepdims=False))([expert_concat, g_out])
        
        mmoe_outs.append(g_mul_out)
        
    task_outs = []
    for mmoe_out in mmoe_outs:
        out_layer = build_layer(emb_dim, (64, ), 1)
        out = out_layer(mmoe_out)
        task_outs.append(out)
        
    task_outs = tf.concat(task_outs, 1)
    return tf.keras.models.Model(i_, task_outs)


def build_layer(in_dim, h_dim, out_dim):
    i_ = Input((in_dim, ))
    h = i_
    for d in h_dim:
       h = Dense(d, activation='swish')(h)
    
    o = Dense(out_dim)(h)
    model = tf.keras.models.Model(i_, o)
    return model

In [62]:
poly_reg = pickle.load(open('tensormodel_poly_reg/model.pkl', "rb"))

simple_MLP_y1_model = tf.keras.models.load_model('model_simple_MLP_y1')

simple_MLP_y5_model = tf.keras.models.load_model('model_simple_MLP_y5')

shared_bottom_model = tf.keras.models.load_model('model_shared_bottom')

MMoE_model = tf.keras.models.load_model('model_MMoE_original')
# MMoE_model = tf.keras.models.load_model('DNN_model')

MMoE_E1_model = get_MMoE_model(1, 5, 64)
# MMoE_E1_model.load_weights('model_MMoE_E1/variables/variables')
MMoE_E1_model.load_weights('MMoE_diff_experts/model_MMoE_E1/variables/variables')

# MMoE_E2_model = tf.keras.models.load_model('model_MMoE_E2')
MMoE_E2_model = tf.keras.models.load_model('MMoE_diff_experts/model_MMoE_E2')
MMoE_E4_model = tf.keras.models.load_model('model_MMoE_E4')
MMoE_E5_model = tf.keras.models.load_model('model_MMoE_E5')

MMoE_wo_q_model = tf.keras.models.load_model('model_MMoE_wo_network_param')

In [63]:
models = {
    'poly_reg': poly_reg,
    'simple_MLP_y1_model': simple_MLP_y1_model,
    'simple_MLP_y5_model': simple_MLP_y5_model,
    'shared_bottom_model': shared_bottom_model,
    'MMoE_model': MMoE_model,
    'MMoE_E1_model': MMoE_E1_model,
    'MMoE_E2_model': MMoE_E2_model,
    'MMoE_E4_model': MMoE_E4_model,
    'MMoE_E5_model': MMoE_E5_model,
    'MMoE_wo_q_model': MMoE_wo_q_model
}

# Predict test sets

In [40]:
import csv

with open('data/test_networks.csv', 'r', newline='') as myfile:
     wr = csv.reader(myfile, quoting=csv.QUOTE_ALL)
     test_data = list(wr)[0]

In [41]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.compose import ColumnTransformer

In [42]:
from tqdm import tqdm

val_id = list(tqdm(test_data))

100%|██████████████████████████████████████████████████████████████████████████████████████████| 25/25 [00:00<?, ?it/s]

In [43]:
tr_X = X[~strat.isin(val_id)]
tr_X_wo_q = X_wo_q[~strat.isin(val_id)] 
tr_y = y[~strat.isin(val_id)]
tr_y1 = y1[~strat.isin(val_id)]

val_X = X[strat.isin(val_id)]
val_X_wo_q = X_wo_q[strat.isin(val_id)]
val_y = y[strat.isin(val_id)]
val_y1 = y1[strat.isin(val_id)]

In [44]:
poly = ColumnTransformer(
    transformers=[
        ('transformer', PolynomialFeatures(degree=2, include_bias=False), ['p1', 'p2', 'p3', 'p4', 'total_len']),
    ],
    remainder='passthrough'
)

tr_X_poly = poly.fit_transform(tr_X)
val_X_poly = poly.fit_transform(val_X)

## Inference on test set

In [64]:
prediction_results = []

for model_name, model in models.items():
    num_tasks = 1 if model_name in ['poly_reg', 'simple_MLP_y1_model'] else 5
    
    if model_name == 'MMoE_wo_q_model':
        test_X = val_X_wo_q 
    elif model_name == 'poly_reg':
        test_X = val_X_poly
    else:
        test_X = val_X

    test_y = val_y1 if model_name in ['poly_reg', 'simple_MLP_y1_model'] else val_y
    
    pred = model.predict(test_X)

    trues = test_y
    
    # score writer
    tmp_scr = [model_name]
    tmp_scr.append((np.abs(pred - trues) / trues).mean() * 100)
    
    for i in range(num_tasks):
        s_ = ((np.abs(pred[:,i] - trues[:,i])*300) / (trues[:,i]*300)).mean() * 100
        tmp_scr.append(s_)

    prediction_results.append(tmp_scr)

3907/3907 [==============================] - 3s 830us/step
3907/3907 [==============================] - 3s 793us/step
3907/3907 [==============================] - 4s 973us/step
3907/3907 [==============================] - 7s 2ms/step
3907/3907 [==============================] - 4s 1ms/step
3907/3907 [==============================] - 6s 2ms/step
3907/3907 [==============================] - 8s 2ms/step
3907/3907 [==============================] - 9s 2ms/step
3907/3907 [==============================] - 7s 2ms/step

In [65]:
df_prediction = pd.DataFrame(prediction_results, columns = ['model', 'total', 'wait', 'timeloss', 'travel', 'speed', 'stop'])
df_prediction

,model,total,wait,timeloss,travel,speed,stop
0,poly_reg,29.013172,29.013172,NaN,NaN,NaN,NaN
1,simple_MLP_y1_model,1.930731,1.930731,NaN,NaN,NaN,NaN
2,simple_MLP_y5_model,1.480269,1.811380,1.700970,1.173701,1.312895,1.402397
3,shared_bottom_model,1.269089,1.551536,1.469694,1.000192,1.098734,1.225288
4,MMoE_model,1.235882,1.534485,1.447745,0.982631,1.032828,1.181721
5,MMoE_E1_model,1.314645,1.631463,1.532922,1.044540,1.099197,1.265105
6,MMoE_E2_model,1.122080,1.365297,1.297895,0.874178,0.994290,1.078738
7,MMoE_E4_model,1.070967,1.311724,1.245751,0.846309,0.919259,1.031790
8,MMoE_E5_model,1.072247,1.317126,1.234614,0.843150,0.933097,1.033247
9,MMoE_wo_q_model,9.082378,12.334106,11.651469,7.915936,5.326829,8.183550

In [46]:
# tensorflow 2.13.0
df_prediction = pd.DataFrame(prediction_results, columns = ['model', 'total', 'wait', 'timeloss', 'travel', 'speed', 'stop'])
df_prediction

,model,total,wait,timeloss,travel,speed,stop
0,poly_reg,29.013172,29.013172,NaN,NaN,NaN,NaN
1,simple_MLP_y1_model,1.930731,1.930731,NaN,NaN,NaN,NaN
2,simple_MLP_y5_model,1.480269,1.811380,1.700970,1.173701,1.312895,1.402397
3,shared_bottom_model,1.269089,1.551536,1.469694,1.000192,1.098734,1.225288
4,MMoE_model,1.163429,1.441481,1.350437,0.923890,0.993016,1.108323
5,MMoE_E1_model,1.332899,1.641467,1.538845,1.071534,1.134249,1.278400
6,MMoE_E2_model,1.125488,1.370696,1.296642,0.884169,0.975938,1.099993
7,MMoE_E4_model,1.013417,1.230831,1.168192,0.790519,0.884758,0.992785
8,MMoE_E5_model,1.072247,1.317126,1.234614,0.843150,0.933097,1.033247
9,MMoE_wo_q_model,9.082378,12.334106,11.651469,7.915936,5.326829,8.183550

In [47]:
print(tf.__version__)

2.11.0

# Inference on train set

In [28]:
prediction_results = []

for model_name, model in models.items():
    num_tasks = 1 if model_name in ['poly_reg', 'simple_MLP_y1_model'] else 5
    
    if model_name == 'MMoE_wo_q_model':
        test_X = tr_X_wo_q 
    elif model_name == 'poly_reg':
        test_X = tr_X_poly
    else:
        test_X = tr_X

    test_y = tr_y1 if model_name in ['poly_reg', 'simple_MLP_y1_model'] else tr_y
    
    pred = model.predict(test_X)

    trues = test_y
    
    # score writer
    tmp_scr = [model_name]
    tmp_scr.append((np.abs(pred - trues) / trues).mean() * 100)
    
    for i in range(num_tasks):
        s_ = ((np.abs(pred[:,i] - trues[:,i])*300) / (trues[:,i]*300)).mean() * 100
        tmp_scr.append(s_)

    prediction_results.append(tmp_scr)

93750/93750 [==============================] - 76s 807us/step
93750/93750 [==============================] - 92s 979us/step
93750/93750 [==============================] - 98s 1ms/step
93750/93750 [==============================] - 196s 2ms/step
93750/93750 [==============================] - 182s 2ms/step
93750/93750 [==============================] - 258s 3ms/step
93750/93750 [==============================] - 323s 3ms/step
93750/93750 [==============================] - 193s 2ms/step

In [29]:
df_prediction_train = pd.DataFrame(prediction_results, columns = ['model', 'total', 'wait', 'timeloss', 'travel', 'speed', 'stop'])
df_prediction_train

,model,total,wait,timeloss,travel,speed,stop
0,poly_reg,29.001113,29.001113,NaN,NaN,NaN,NaN
1,simple_MLP_y1_model,1.862791,1.862791,NaN,NaN,NaN,NaN
2,simple_MLP_y5_model,1.435095,1.752409,1.646708,1.135934,1.283739,1.356685
3,shared_bottom_model,1.227939,1.500891,1.419214,0.964801,1.065179,1.189609
4,MMoE_model,1.088612,1.343526,1.260467,0.859641,0.934005,1.045422
5,MMoE_E2_model,1.052491,1.279591,1.213922,0.815090,0.932825,1.021027
6,MMoE_E4_model,0.925743,1.125945,1.065625,0.719947,0.807685,0.909517
7,MMoE_E5_model,0.961746,1.175148,1.103131,0.751719,0.838949,0.939781
8,MMoE_wo_q_model,8.746688,11.856434,11.220215,7.617015,5.136988,7.902788